{
  "openapi": "3.0.0",
  "info": {
    "title": "Zynx Wallet API",
    "version": "1.0.0",
    "description": "API de pagamentos PIX, saques e gerenciamento de carteira digital"
  },
  "servers": [
    {
      "url": "https://api.zynxwallet.com.br",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "paths": {
    "/v1/payments": {
      "post": {
        "tags": ["Pagamentos"],
        "summary": "Criar Pagamento",
        "description": "Crie uma nova transação PIX",
        "operationId": "createPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Valor em reais",
                    "example": 100.00
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição da transação",
                    "example": "Pagamento de serviço"
                  }
                },
                "required": ["amount", "description"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pagamento criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/payments/{id}": {
      "get": {
        "tags": ["Pagamentos"],
        "summary": "Buscar Pagamento",
        "description": "Obtenha detalhes de um pagamento",
        "operationId": "getPayment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do pagamento"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/payments/list": {
      "get": {
        "tags": ["Pagamentos"],
        "summary": "Listar Pagamentos",
        "description": "Liste todos os seus pagamentos",
        "operationId": "listPayments",
        "responses": {
          "200": {
            "description": "Lista de pagamentos"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/withdrawals": {
      "post": {
        "tags": ["Saques"],
        "summary": "Criar Saque",
        "description": "Solicite um saque para sua conta bancária",
        "operationId": "createWithdrawal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Valor em reais"
                  },
                  "bank_account_id": {
                    "type": "string",
                    "description": "ID da conta bancária"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saque criado com sucesso"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/withdrawals/{id}": {
      "get": {
        "tags": ["Saques"],
        "summary": "Buscar Saque",
        "description": "Obtenha detalhes de um saque",
        "operationId": "getWithdrawal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do saque"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/withdrawals/list": {
      "get": {
        "tags": ["Saques"],
        "summary": "Listar Saques",
        "description": "Liste todos os seus saques",
        "operationId": "listWithdrawals",
        "responses": {
          "200": {
            "description": "Lista de saques"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/transfers": {
      "post": {
        "tags": ["Transferências"],
        "summary": "Transferência Interna",
        "description": "Transfira saldo entre usuários",
        "operationId": "createTransfer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "recipient_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transferência criada com sucesso"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/transfers/list": {
      "get": {
        "tags": ["Transferências"],
        "summary": "Listar Transferências",
        "description": "Liste todas as suas transferências",
        "operationId": "listTransfers",
        "responses": {
          "200": {
            "description": "Lista de transferências"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/account/balance": {
      "get": {
        "tags": ["Conta"],
        "summary": "Consultar Saldo",
        "description": "Obtenha o saldo da sua conta",
        "operationId": "getBalance",
        "responses": {
          "200": {
            "description": "Saldo da conta"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/webhooks": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Webhooks",
        "description": "Configure webhooks para receber notificações",
        "operationId": "configureWebhooks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL para receber notificações"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook configurado com sucesso"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  }
}
